/* @media (max-width: 480px){
    picture{ 
        width: 240px;
        height: 240px;
    }
}
@media (max-width: 868px){
    picture{ 
        width: 430px;
        height: 430px;
    }
} 
@media (max-width: 1200px){
    picture{ 
        width: 600px;
        height: 600px;
    }
}
@media (min-width: 1201px){
    picture{ 
        width: 850px;
        height: 850px;
    }
} */